<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/public/index.css"></style>
</head>
<body>
    <div id="navbar">
        <p><strong>Quack overflow</strong> a place for people who are bad at coding </p>
        <ul id="navbar-container">
            <li class="navbar-element">
            </li>
            <li class="navbar-element">
                <a href="/"> questions </a>
            </li>
            <li class="navbar-element">
                <a href="/topics"> topics </a>
            </li>
        </ul>
    </div>
    <div class="question-box">
        <a href="/postid"><h1> This is a question! </h1></a>
        <p>this_is_an_author</p>
        <p>this is a timestamp</p>
        <p>this is a view count</p>
    </div>
</body>